<html>
    <head>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">        
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css.map" rel="stylesheet">
            <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/flatly/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            margin:0;
            font-family:'Work Sans',sans-serif;
            font-weight: 300;

        }
        .container{
            width:80%;
            margin:0 auto;
        }
        header{
            background:#55d6aa;

        }
        header:after{
            content:'';
            display: table;
            clear: both;

        }
        logo{
            float: left;
        }
        nav{
            float: right;
        }
        nav ul{
            margin:0;
            padding:0;
            list-style: none;
            font-size: 14px;
    

        }
        nav li{
            display: inline-block;
            margin-left: 40px;
        

        }
        nav a{
            color:#444;
            text-decoration: none;
            text-transform: uppercase;
            
        }
    </style>
    </head>
    <body>
        <header>
            <div class="container">
               <img alt="Codedemy" class="logo" >
                <nav>
                    <ul>
                            <li><a href="/courses">Browse</a></li>
                            <% if(!user){%>
                                <li><a href="/login">Login</a></li>
                              <%}else {%>  
                                <%if(user.role==="teacher"){%>   
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false" > Instructor</a>
                                <ul class="dropdown-menu">
                                        <li><a href="/teacher/dashboard">Instrictor's dashboard</a></li> 
                                        <li><a href="/revenue-report">Revenue Report</a></li>     
                                </ul>
                                <%}else{%>
                                    <li><a href="/become-an-instructor">Become an instructor</a></li> 
                                    <%}%>
                                                         
                                  <li><a href="/profile"><%=user.profile.name%></a></li>
                                  <li><a href="/logout">Logut</a></li>
                                  <%}%>
    

                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>