<html>
    <head>       
    </head>
    <body>        
        <form id="login" action="" method="post" >
            <input type="text" name="email"/>
            <input type="text" name="password"/>
            <button  class="btn btn-primary">Submit</button>    
        </form>
    </body>
</html>