<% include ../navbar.ejs%>
<div class="bg"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-mg-offset-3">
            <h1>Create Course</h1>
            <form role="form" method="POST">
                <div class="form-group">
                    <label for="name"  >Title</label>
                    <input type="text" name="title" class="form-control" id="title" >
                </div>
                <button type="submit" value="submit">Submit</button>
            </form>
        </div>  
    </div>
</div>